<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programme</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th>WEEK</th>
      <th>Legs</th>
      <th>Push</th>
      <th>Pull</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>- squat<br>- bulgarian one leg<br>- calf raise<br>- dumbbell lunges<br>- ham curl<br>Squat: 40, Bulgarian: 10</td>
      <td>- dumbbell bench press<br>- dumbell military press<br>- dips<br>- incline dumbell bench<br>- elevated pushup<br>Bench 10, Military: 10</td>
      <td>- deadlift<br>- dumbbell row<br>- pull ups<br>- trap shrugs<br>- dumbell curl<br>Dead: 50, Dumbrow: 16</td>
    </tr>
    <tr>
      <td>2</td>
      <td>- squat<br>- bulgarian one leg<br>- quad curl<br>- calf raise<br>- ham curl<br>Squat: 45, Bulgarian: 12</td>
      <td>- dumbbell bench press<br>- dumbell military press<br>- elevated pushup<br>- tricep throwbacks<br>- arnold shoulder press<br>Bench 12, Military: 12</td>
      <td>- deadlift<br>- dumbbell row<br>- trap shrugs<br>- dumbell curl<br>- lat pulldown<br>Dead: 55, Dumbrow: 18</td>
    </tr>
    <tr>
      <td>3</td>
      <td>- squat<br>- bulgarian one leg<br>- dumbbell lunges<br>- romanian deadlift<br>- calf raise<br>Squat: 50, Bulgarian: 14</td>
      <td>- dumbbell bench press<br>- dumbell military press<br>- skull crushers<br>- arnold shoulder press<br>- incline dumbell bench<br>Bench 14, Military: 14</td>
      <td>- deadlift<br>- dumbbell row<br>- trap shrugs<br>- lat pulldown<br>- pull ups<br>Dead: 60, Dumbrow: 20</td>
    </tr>
    <tr>
      <td>4</td>
      <td>- squat<br>- bulgarian one leg<br>- quad curl<br>- dumbbell lunges<br>- ham curl<br>Squat: 55, Bulgarian: 16</td>
      <td>- dumbbell bench press<br>- dumbell military press<br>- dips<br>- elevated pushup<br>- skull crushers<br>Bench 16, Military: 16</td>
      <td>- deadlift<br>- dumbbell row<br>- lat pulldown<br>- trap shrugs<br>- dumbell curl<br>Dead: 65, Dumbrow: 22</td>
    </tr>
  </tbody>
</table>
</body>
</html>
