<div class="footer">
    <div class="container">


        <div class="hr">
                <div class="row"></div>
        </div>

        <br><br>

        <div class="info">
                <div class="row">
                    <div class="col-lg-4" id="personal">
                            <p class="wow fadeInUp">social</p>
                            <ul>
                                <li class="wow fadeInUp" data-wow-delay="0.2s"> <a href="https://github.com/yohanderose" target="_blank" rel="noopener noreferrer" class="fa fa-github"></a>  </li>
                                <li class="wow fadeInUp" data-wow-delay="0.3s"> <a href="https://www.linkedin.com/in/yohanderose/" target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a> </li>
                                <li class="wow fadeInUp" data-wow-delay="0.4s"> <a href="https://www.instagram.com/yohanderose/" target="_blank" rel="noopener noreferrer" class="fa fa-instagram"></a> </li>
                                <li class="wow fadeInUp" data-wow-delay="0.4s"> <a href="#" target="_blank" rel="noopener noreferrer" class="fa fa-youtube"></a> </li>
                            </ul>
                            <br><br>
                    </div>

                    <div class="col-lg-4" id="media">
                            <!-- <p class="wow fadeInUp" data-wow-delay="0s">follow me</p>

                            <ul>
                                <li id="yt" class="wow fadeInUp" data-wow-delay="1s">yt</li>
                            </ul>

                            <br><br> -->
                    </div>

                    <div class="col-lg-4" id="address">
                            <p class="wow fadeInUp" data-wow-delay="0s">email</p>
                            <h4 class="wow fadeInUp" data-wow-delay="0.5s">yohan.derose@monash.edu</h4>
                            <br><br>
                    </div>
                </div>
        </div>
    </div>
</div>
