
<nav>
        <span id="brand">
            <a href="about.php">yohan</a>
        </span>

        <ul id="menu">
            <li><a href="about.php">about<span>.</span></a></li>
            <li><a href="research.php">research<span>.</span></a></li>
            <li><a href="art.php">art<span>.</span></a></li>
            <li><a href="https://www.notion.so/Projects-c0b6cb1073c249779198f17640b5f2ec" target="_blank" rel="noopener noreferrer" >projects<span>.</span></a></li>
            <li><a href="contact.php">contact<span>.</span></a></li>
        </ul>

        <div id="toggle">
            <div class="span">menu</div>
        </div>

</nav>

<div id="resize">
        <div class="close-btn">close</div>

        <ul id="menu">
            <li><a href="about.php">about<span>.</span></a></li>
            <li><a href="research.php">research<span>.</span></a></li>
            <li><a href="art.php">art<span>.</span></a></li>
            <li><a href="https://www.notion.so/Projects-c0b6cb1073c249779198f17640b5f2ec" target="_blank" rel="noopener noreferrer" >projects<span>.</span></a></li>
            <li><a href="contact.php">contact<span>.</span></a></li>
        </ul>
</div>